.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-bottom: 2rem;
}

.name-rights{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: white;
}

span{
    transition: color .3s ease-in-out;
}

span:hover{
    color: var(--pink-hoover);
}


a{
    text-decoration: none;
    color: white;
}

.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact > * {
padding: 1rem;
color: white;
}

@media(max-width:478px) {
    .contact{
        flex-direction: column;
    }
    
}