.project-card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.text{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    padding: 1rem;
}

.title{
    margin-bottom: 0.5rem;
}

.iframe > *{
    
    padding: 0.5rem;
    border-radius: 1rem;
}

.stacks > img{
    width: 30px;
}

li {
    margin: 1rem;
}

hr{
    margin: 1rem;
}

a {
    text-decoration: none;
}

a:hover > h3{
    font-weight: lighter;
}

/* For Mobile */
@media(max-width:480px){
    .text{
        margin-left: 0.2rem;
    }
    hr{
        margin: 0px;
    }

    .project-card-container{
        flex-direction: column;
    }
}
/* small screems */
@media(max-width: 395px){
    .iframe > *{
        width: 220px;
    }

}