<div class="project-card-container">
    <div class="iframe">
        <iframe [src]="iframeSafeURL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            
        </iframe>
    </div>

    <div class="text" style="width: 90%;">
        <div class="title">
            <a [href]="titleLink" target="_blank">
            <h3>{{title}}</h3>
            </a>
        </div>
        <div class="description">

            <span>{{description}}</span>
            <ul>
                <li *ngIf="goal1!=null" >{{goal1}}</li>
                <li *ngIf="goal2!=null">{{goal2}}</li>
                <li *ngIf="goal3!=null" >{{goal3}}</li>
            </ul>
        </div>
        <hr>
        <div class="icons">
            <div class="stacks">
                <img [src]="stack1">
                <img [src]="stack2">
                <img *ngIf="stack3!=null" [src]="stack3">
                <img *ngIf="stack4!=null" [src]="stack4">

            </div>
        </div>
    </div>
</div>