<div class="menu-bar_container">

    <div class="menu-bar_itens">

        <ul>
            <li>
                <a href="#">About</a> |
            </li>
            <li>
                <a href="/projects"> Projects</a> |
            </li>
            <li>
               <a href="#">  Resume </a>
            </li>
        </ul>

    </div>
    
    <div class="menu-bar_name">
        <span>Max</span>
    </div>

    <div class="menu-bar_contact">
        <a href="https://www.linkedin.com/in/max-victor/" target="_blank">
            <img src="./assets/linkedin.png" alt="LinkedIn">
        </a>
        <a href="https://github.com/maxfideles" target="_blank" >
            <img src="./assets/github.png" alt="Github">
        </a>
        <a href="mailto:maxfideles24@gmail.com">
            <img src="./assets/email.png" alt="Email">
        </a>

    </div>


</div>