<div class="menu-bar_container">

    <div class="menu-bar_itens">

        <ul>
            <li>
                <a routerLink="/home"
                routerLinkActive="page-activated"
                ariaCurrentWhenActive="page"
                >About</a> |
            </li>
            <li>
                <a routerLink="/projects"
                routerLinkActive="page-activated"
                ariaCurrentWhenActive="page"
                > Projects</a> |
            </li>
            <li>
               <a href="#">  Resume </a>
            </li>
        </ul>

    </div>


</div>