/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
   
}


body {
    
    color: #141E46;
    background-color: #EEEEEE;
}

/* Palette Color 

https://colorhunt.co/palette/053b50176b8764ccc5eeeeee


#EEEEEE (Ice)

#FF6969 

#C70039 

#141E46

*/